/*Extra Small Device*/

@media (min-width:320px) and (max-width:575.98px) {
    /*Header Section Start*/
    .navbar ul li a {
        font-size: 20px;
    }
    .navbar ul li a {
        margin-right: 0px;
        text-align: right;
    }
    .navbar ul li:last-child a {
        margin-right: 0;
    }
    .navbar ul li a:hover {
        color: #fff!important;
    }
    .navbar ul li a:hover::after {
        transform: scale(0);
    }
    /*Header Section End*/
    /*Slider Section Start*/
    .slider_text {
        margin-top: 25px;
    }
    #slider {
        padding-bottom: 60px;
    }
    .slider_text h1 {
        margin-bottom: 15px;
        font-size: 28px;
    }
    .slider_text h3 {
        margin-bottom: 16px;
    }
    .slider_text p {
        margin-bottom: 22px;
        word-spacing: 1px;
        letter-spacing: 2px;
    }
    .carousel-indicators {
        bottom: -55px;
    }
    .carousel-indicators li {
        width: 13px;
        height: 13px;
    }
    /*Slider Section End*/
    /* Feature Section Start*/
    #feature {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .fc_mt {
        margin-top: 40px;
        text-align: center;
    }
    .f_icon {
        margin-bottom: 10px;
    }
    .c_text h3 {
        font-size: 28px;
    }
    .c_text p {
        font-size: 16px;
        letter-spacing: 0px;
    }
    /* Feature Section End*/
    /*Contact Section Start*/
    #subscription {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .btn_warning {
        margin-top: 20px;
    }
    .social_icon ul li {
        margin-right: 15px!important;
    }
    .social_icon ul li:last-child {
        margin-right: 0px!important;
    }
    /*Contact Section End*/
    /* Footer Section Start	 */
    footer {
        padding-bottom: 70px;
        text-align: center;
    }
    .footer_2 {
        margin-top: 20px;
    }
}


/*Small Device*/

@media (min-width:576px) and (max-width:767.98px) {
    /*Header Section Start*/
    .navbar ul li a {
        font-size: 20px;
    }
    .navbar ul li a {
        margin-right: 0px;
        text-align: right;
    }
    .navbar ul li:last-child a {
        margin-right: 0;
    }
    .navbar ul li a:hover {
        color: #fff!important;
    }
    .navbar ul li a:hover::after {
        transform: scale(0);
    }
    /*Header Section End*/
    /*Slider Section Start*/
    .slider_text {
        margin-top: 25px;
    }
    #slider {
        padding-bottom: 65px;
    }
    /*Slider Section End*/
    /* Feature Section Start*/
    #feature {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .fc_mt {
        margin-top: 50px;
        text-align: center;
    }
    .f_icon {
        margin-bottom: 10px;
    }
    .c_text h3 {
        font-size: 30px;
    }
    .c_text p {
        font-size: 19px;
        letter-spacing: 0px;
    }
    /* Feature Section End*/
    /* Feature Section Start*/
    #subscription {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    /* Footer Section Start	 */
    footer {
        padding-bottom: 80px;
    }
    .footer_1 {
        text-align: center;
    }
    .footer_2 {
        margin-top: 20px;
    }
}


/*Medium Device*/

@media (min-width: 768px) and (max-width: 991.98px) {
    /*Header Section Start*/
    .navbar ul li a {
        font-size: 20px;
    }
    /*Header Section End*/
    /*Slider Section Start*/
    .slider_text {
        margin-top: 65px;
    }
    /*Slider Section End*/
    /* Feature Section Start*/
    #feature {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .c_text p {
        letter-spacing: 0px;
    }
    /* Feature Section End*/
}


/*Large Device*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Feature Section Start*/
    #feature {
        padding-top: 90px;
        padding-bottom: 110px;
    }
    .c_text p {
        letter-spacing: 0px;
    }
    /* Feature Section End*/
    /*Contact Section Start*/
    .social_icon ul li {
        margin-right: 20px!important;
    }
    .social_icon ul li:last-child {
        margin-right: 0px!important;
    }
    /*Contact Section End*/
    #subscription {
        padding-top: 90px;
        padding-bottom: 110px;
    }
}


/*Extra Large Device*/

@media (min-width: 1200px) and (max-width: 1399.98px) {}


/*Extra Extra Large Device*/

@media (min-width: 1400px) {}