* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}


/*Header Section Start*/

.navbar_color {
    background: #fcdb00;
    padding: 14px;
}

.navbar ul li a {
    margin-right: 85px;
}

.navbar ul li:last-child a {
    margin-right: 0;
}

.navbar ul li a {
    font-size: 21px;
    font-weight: 700;
    color: #010101!important;
    position: relative;
    transition: 0.4s ease-in-out;
}

.navbar ul li a:hover::after {
    transform: scale(1);
}

.navbar ul li a::after {
    position: absolute;
    content: "";
    background: #010101;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 5px;
    right: 0;
    transform: scale(0);
    transition: .4s ease;
}

.nav-link {
    padding-right: 0px!important;
    padding-left: 0px!important;
}


/*Header Section End*/


/*Slider Section Start*/

#slider {
    background: #fcdb00;
    padding-bottom: 80px;
}

.slider_text {
    margin-top: 70px;
}

.slider_text h1 {
    margin-bottom: 18px;
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}

.slider_text h3 {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 400;
    color: #313841;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.slider_text p {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    letter-spacing: 1px;
    line-height: 23px;
}

.slider_text ul li {
    font-size: 42px;
    color: #010101;
    margin-right: 30px!important;
}

.slider_text ul li:last-child {
    margin-right: 0px!important;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators {
    bottom: -75px;
}


/*Slider Section End*/


/* Feature Section Start*/

#feature {
    padding-top: 100px;
    padding-bottom: 120px;
}

.c_text h1 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}

.fc_mt {
    margin-top: 70px;
}

.c_text p {
    font-size: 20px;
    font-weight: 400;
    color: #313841;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
}

.f_icon {
    text-align: center;
}

.f_icon i {
    font-size: 50px;
    color: #010101;
}

.f_text h3 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
    color: #010101;
}

.f_text p {
    margin-bottom: 0;
    font-size: 16px;
    color: #898989;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22px;
}


/* Feature Section End*/


/*Subscription Section Start*/

#subscription {
    padding-top: 110px;
    padding-bottom: 120px;
    background: #010101!important;
}

.ch_yellow {
    color: #fcdb00!important;
}

.btn_warning {
    background: #fcdb00;
    padding: 8px 4px;
    font-size: 18px;
    color: #010101;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 6px;
}

.ci_padding {
    padding: 10px 8px;
}

.ci_padding::placeholder {
    font-size: 18px;
}

.form-control:focus {
    border-color: #fcda00;
    box-shadow: 0 0 0 0.15rem #fcda00;
}

.form_mt {
    margin-top: 30px;
    margin-bottom: 65px;
}

.social_icon ul li {
    margin-right: 40px!important;
}

.social_icon ul li:last-child {
    margin-right: 0px!important;
}

.social_icon ul li i {
    color: #010101;
    background: #fcdb00;
    font-size: 32px;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    padding-top: 7px;
    transition: 0.3s ease-in-out;
}

.social_icon ul li i:hover {
    transform: rotate(360deg);
}


/*Subscription Section End*/


/* footer start */

footer {
    padding-top: 0;
    padding-bottom: 120px;
    background-color: #010101;
}

address {
    font-size: 16px;
    font-weight: 400;
    color: #fff
}

.footer_2 ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}


/* footer end */